.editheader
{
    display:none !important;
}
.leadtypecheckbox{margin:20px !important;}.wpme-upgrader-custom-notice .notice-right { display: table-cell;  padding: 10px;  background: #f1f1f1; margin-right: 5px;  border-right: 3px solid #46b450; border-left: 1px solid #dadada;  border-bottom: 1px solid #dadada; border-top: 1px solid #dadada;  vertical-align: middle; position: relative; width: 110px;}.wpme-upgrader-custom-notice .notice-left {    display: table-cell;    padding: 10px;}